.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .subtitle {
    color: $link-blue;
  }
  & .form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-input {
      display: flex;
      gap: 20px;
      & input {
        outline: none;
        height: 3rem;
        width: 30rem;
        padding-left: 20px;
        background-color: $base-background;
        border-radius: 5px;
        border: 1px solid $text-color;
        color: $text-color;
      }
    }
    & textarea {
      background-color: $base-background;
      border: 1px solid $text-color;
      padding-left: 20px;
      padding-top: 20px;
      color: $text-color;
      outline: none;
      border-radius: 5px;
      resize: none;
    }
    & .btn {
      width: max-content;
      padding: 8px;
      border-radius: 5px;
      border: none;
      background-color: $link-blue;
      color: $text-color;
    }
  }
}
