@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap");
// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;
.h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 9.3rem;
  letter-spacing: -1.5px;
}
.h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 5.8rem;
  letter-spacing: -0.5px;
}
.h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 4.6rem;
  letter-spacing: 0px;
}
.h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3.3rem;
  letter-spacing: 0.25px;
}
.h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  letter-spacing: 0px;
}
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  letter-spacing: 0.15px;
}
.subtitle-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.15px;
}
.subtitle-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0.1px;
}
.body-1 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.15px;
}
.body-2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.25px;
}
.button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1.25px;
}
.caption {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 0.4px;
}
.overline {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
